certifi==2021.10.8
charset-normalizer 
flake8 
Flask
idna 
multipledispatch 
numba 
numexpr 
numpy 
numpydoc 
pandas 
pandocfilters 
pytz==2021.3
scikit-learn==1.2.2
scikit-learn-intelex
typing-extensions 
gunicorn
