certifi==2021.10.8
charset-normalizer 
flake8 
Flask
idna 
multipledispatch 
numba 
numexpr 
numpy 
numpydoc 
pandas 
pandocfilters 
pytz==2021.3
scikit-image==0.18.3
scikit-learn 
scikit-learn-intelex==2021.20210714.120553
typing-extensions 
